{% extends 'layout.html' %}

{%block content %}
<body>
    <div class="container mt-5">
        <h1>About Our Secure Password Generator</h1>
        
        <p>Welcome to our secure password generator, an online tool that allows you to generate strong and random passwords to keep your accounts secure. In an increasingly digital world, safeguarding your passwords is essential to protect your personal data and online accounts.</p>

        <h2>Main Features</h2>
        <ul>
            <li><strong>Customization:</strong> Our password generator allows you to choose the length of the password you want to generate. You can select from a variety of options to tailor the password to your needs.</li>
            <li><strong>Uppercase and Lowercase:</strong> If you want an even more secure password, you can choose to include uppercase letters. This increases the complexity of the password and makes it harder to guess.</li>
            <li><strong>Special Characters:</strong> For an extra layer of security, we offer the option to include special characters in your passwords. This makes passwords even more difficult to decipher and further protects your accounts.</li>
        </ul>

        <h2>Technology Used</h2>
        <p>Our secure password generator has been built using the following technologies:</p>
        <ul>
            <li><strong>Python Django:</strong> The application's infrastructure is based on the Python web framework Django. Django provides a solid structure for managing routes, views, and application logic.</li>
            <li><strong>Bootstrap:</strong> The elegant and responsive user interface of our application has been constructed using the Bootstrap design framework. This ensures the application is user-friendly on devices of various sizes.</li>
        </ul>

        <h2>How to Use</h2>
        <ol>
            <li>Open the secure password generator page in your browser.</li>
            <li>Select the desired length for the password.</li>
            <li>Check the boxes if you want to include uppercase letters and special characters.</li>
            <li>Click the "Generate Password" button.</li>
            <li>Copy and paste your new secure password wherever you need it!</li>
        </ol>

</body>
</html>

{% endblock %}